{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "jsx": true
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    // "next",
    // "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-unused-vars": [2, { "varsIgnorePattern": "^_*" }],
    "prefer-const": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "env": { "browser": true, "node": true, "jest": true },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/react-in-jsx-scope": 0
      }
    }
  ]
}
